body {
    background: url(../img/yellow\ wallpaper.jpg) no-repeat center center;
    background-position: fixed;
    height: 100vh;
    width: 100%;
    position: relative;
    font-family: 'Arvo', serif;
}

body:after {
    content: '';
    background-color: #fbb034;
    background-image: linear-gradient(315deg, #fbb034 0%, #ffdd00 74%);
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.3;
    /* Here is your opacity */
}

.navigation {
    position: relative;
}

.navigation:after {
    content: '';
    background-color: #fbb034;
    background-image: linear-gradient(315deg, #fbb034 0%, #ffdd00 74%);
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.4;
    box-shadow: 5px 5px 5px#fbb034;
    /* Here is your opacity */
}

.pull-right {
    padding-left: 67%;
    text-align: center;
}

@media (max-width: 990px) {
    .pull-right {
        padding-left: 0%;
        text-align: left;
    }
}

.pull-rightp {
    padding-left: 50%;
    text-align: center;
}

@media (max-width: 990px) {
    .pull-rightp {
        padding-left: 0%;
        text-align: left;
    }
}

.nav-link {
    color: #212529;
    font-weight: 400;
}

.nav-link :hover {
    cursor: pointer;
}

.jumbotron {
    text-align: center;
    padding-top: 100px;
    letter-spacing: 1.5px;
}

.jumbotron h1 {
    font-size: 2.5rem;
    padding-bottom: 5px;
    text-shadow: 2px 2px 3px black;
}

.jumbotron p {
    font-size: 1.1rem;
    font-weight: 400;
}

.yellow {
    box-shadow: 2px 2px 2px #d4a345;
    border: 2px solid #d4a345;
    border-radius: 40px;
    outline: none;
    margin-top: 20px;
    min-width: 18%;
    position: relative;
}

.yellow:hover {
    box-shadow: 2px 2px 2px black;
    border: 2px solid black;
    font-weight: bold;
}

.yellow:after {
    content: '';
    background-color: #fbb034;
    background-image: linear-gradient(315deg, #fbb034 0%, #ffdd00 74%);
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.6;
    /* Here is your opacity */
}

.modal-content {
    background: #F2F2F2;
}

.close {
    background-color: #fbb034;
    background-image: linear-gradient(315deg, #fbb034 0%, #ffdd00 74%);
    border-radius: 8px;
    border: none;
}

.form-control {
    color: #8f8f8f;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 1px;
    margin-bottom: 7px;
    display: block;
    border-radius: 13px;
}

.modal-header {
    align-items: baseline;
    justify-content: start;
}

.checkbox {
    align-content: space-between;
    padding-left: 20px;
}

.pull-left {
    position: left;
}

.footer {
    position: absolute;
    bottom: 0;
    padding-top: 5px;
}

.text-align {
    text-align: center;
    align-content: space-between;
    width: 100%;
    padding-top: 50px;
}

#done,
#allnotes,
#notearea {
    display: none;
}

#notearea {
    margin: 15px;
    text-align: center;
}

#textarea {
    width: 70%;
    border-radius: 10px;
    background-color: #F2F2F2;
    border: solid 2px #8f8f8f;
    border-left-width: 20px;
    border-left-color: #8f8f8f;
    outline: none;
    font-size: 20px;
    color: #212529;
    padding: 10px;
}

.table-responsive {
    width: 60%;
    padding-left: 60px;
    padding-top: 60px;
}

@media (max-width: 990px) {
    .table-responsive {
        width: 90%;
        padding-left: 30px;
        padding-top: 30px;
    }
}